.downIcon{
    display: flex;
    justify-content: center;
    margin-bottom: -45px;
    transform: translateY(-55px);
}
.downIcon img{
    background: rgba(255,255,255,.3);
    width: 25px;
    padding: 10px;
}
.downIcon.reverse{
    transform: rotate(180deg) translateY(-30px);
}